<h1>Listing category_masters</h1>

<table>
  <thead>
    <tr>
      <th>Categoryname</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @category_masters.each do |category_master| %>
      <tr>
        <td><%= category_master.categoryname %></td>
        <td><%= link_to 'Show', category_master %></td>
        <td><%= link_to 'Edit', edit_category_master_path(category_master) %></td>
        <td><%= link_to 'Destroy', category_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category master', new_category_master_path %>
